.home-container {
    display: flex;
}

.left-sidebar {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    z-index: 0;
}

.center-content {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-sidebar {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-btn, .topics-dropdown {
    margin-top: 3vh;
    width: 6vw;
    height: 6vw;
    background-color: #fa4616;
    color: white;
    border: none;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 2vh;
    font-weight: bold;
}

.message-btn:hover {
    background-color: #c43d11;
    transform: scale(1.05);
}

.message-btn-content {
    font-weight: bold;
}

.topics-dropdown:hover {
    opacity: 100%;
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.topics-dropdown-content {
    width: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #0655d4;  
    padding-top: 3vw;
    margin-top: -3vw;
    margin-left: 0.15vw;
    z-index: -1;
}

.topic-item {
    padding: 0.5vw 1vw;
    color: white;
    font-size: 0.8vw;
    transition: background-color 0.2s ease;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .topic-item:hover, .topic-item:focus {
    background-color: #0033cc;
    color: #fff;
  }

.logout-btn, .profile-btn, .notifications-btn {
    margin-top: 3vh;
    width: 6vw;
    height: 6vw;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.logout-btn:hover, .profile-btn:hover, .notifications-btn:hover{
    background-color: #f0f0f0;
    transform: scale(1.05);
}

.logout-btn img, .profile-btn img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.notifs-text{
    font-size: 0.7vw;
}

.messages-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2vw;
    width: 100%;
    padding: 2vw;
    height: 40vw;
}

.preview {
    background-color: white;
    border-radius: 12px;
    padding: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 25vw;
    width: 16vw;
    max-width: 400px;
    overflow: hidden;
    justify-content: flex-start;
    position: relative;
}

.preview:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.profile-pic {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    object-fit: cover;
}


.message-card-content {
    font-size: 1rem;
    color: #555;
    margin-top: 0.5vw;
    line-height: 1.4;
    height: 6vw;
    overflow: hidden;
}

.message-card-author {
    font-size: 0.9rem;
    color: #888;
    margin-top: 1vw;
    margin-bottom: 1vw; 
}

.preview-pic {
    width: 100%;
    height: auto;
    align-self: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.preview-title {
    font-weight: bold;
    text-align: center;
    margin-top: 1vw;
}

.like-btn {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fa4616;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.timestamp {
    position: absolute;
    bottom: .5vw;
    left: .7vw;
    font-size: 0.75rem;
    color: #888;
    margin: 0;
}