:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: hsla(0, 0%, 20%, 0.733);
  background-color: hsl(234, 26%, 15%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 50vw;
}

.login{
  background-color: rgba(255, 255, 255, 0.781);
  border: 1px solid rgb(71, 71, 71);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.705);
  padding: 5vw;
  text-align: center;
}

input{
  width: 15vw;
  height: 3vh;
  margin: 10px;
}

.loginBTN{
  background-color: hsl(0, 0%, 93%);
  border-width: 2px;
  border-color: hsl(234, 26%, 15%);
  font-size: 20px;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.loginBTN:hover{
  background-color: hsl(234, 26%, 15%);
  color: white;
}

.loginBTN:active{
  background-color: hsl(236, 12%, 25%);
  transition-duration: 0s;
}