.card{
    width: 25vw;
}

.title-and-input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    width: 90%;
}

p{
    margin: 0px;
    padding: 0px;
}

textarea{
    height: 15vh;
}

.exit-message-create-btn-container{
    margin-left: 20vw;
}