.notifications-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-container{
    width: 60vw;
    align-items: left;
    background-color: #ffffffdd;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 1vw;
    margin: 1vh;
    display: flex;
    flex-direction: row;
}

.notification-container:hover{
    cursor: pointer;
    opacity: 90%;
}

.notification{
    font-size: 1vw;
    font-style: bold;
    width: 80%
}

.return-message{
    width: 20%;
    text-align: right;
}

.exit-notifications-btn{
    width: 10vw;
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.exit-notifications-btn:hover {
    color: #FA4616;
    transform: scale(1.1);
}