:root {
    font-family: 'Poppins', sans-serif;
}

.profilePic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 4px solid #0021A5;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bio-title {
    text-align: left;
    width: 100%;
    color: #FA4616;;
    font-size: 20px;
    font-weight: bold;
}

.bio {
    text-align: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #003366;
    border-radius: 15px;
    padding: 10px;
    min-height: 10vh;
    font-size: 16px;
    line-height: 1.4;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card {
    display: flex;
    position: relative; 
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.exit-btn-container {
    position: absolute;
    top: 4px;
    right: 10px;
}

.exit-btn {
    color: #1d1f31;
    font-weight: bold;
    font-size: 22px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
}

.exit-btn:hover {
    transform: scale(1.2);
    color: #FA4616;
}


.container {
    background: linear-gradient(135deg, #0021A5, #FF7F50);
    background-size: 450% 450%;
    animation: gradientAnimation 8s ease infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}